/* This CSS is taken from: https://www.creativejuiz.fr/trytotry/custom-checkbox-full-css3-flat-ui.html
   Please give all credit for this CSS to the creators of the site.
*/
p > input[type="checkbox"]:not(:checked),
	p > input[type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	p > input[type="checkbox"]:not(:checked) + label,
	p > input[type="checkbox"]:checked + label {
		position: relative;
		padding-left: 75px;
		cursor: pointer;
	}
	p > input[type="checkbox"]:not(:checked) + label:before,
	p > input[type="checkbox"]:checked + label:before,
	p > input[type="checkbox"]:not(:checked) + label:after,
	p > input[type="checkbox"]:checked + label:after {
		content: '';
		position: absolute;
	}
	p > input[type="checkbox"]:not(:checked) + label:before,
	p > input[type="checkbox"]:checked + label:before {
		left:0; top: -3px;
		width: 65px; height: 30px;
		background: #DDDDDD;
		border-radius: 15px;
		-webkit-transition: background-color .5s;
		-moz-transition: background-color .5s;
		-ms-transition: background-color .5s;
		transition: background-color .5s;
	}
	p > input[type="checkbox"]:not(:checked) + label:after,
	p > input[type="checkbox"]:checked + label:after {
		width: 20px; height: 20px;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
		border-radius: 50%;
		background: #7F8C9A;
		top: 2px; left: 5px;
	}

	/* on checked */
	p > input[type="checkbox"]:checked + label:before {
		background:#00a65a; 
	}
	p > input[type="checkbox"]:checked + label:after {
		background: #ffffff;
		top: 2px; left: 40px;
	}

	p > input[type="checkbox"]:checked + label .ui,
	p > input[type="checkbox"]:not(:checked) + label .ui:before,
	p > input[type="checkbox"]:checked + label .ui:after {
		position: absolute;
		left: 6px;
		width: 65px;
		border-radius: 15px;
		font-size: 14px;
		font-weight: bold;
		line-height: 22px;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		transition: all .5s;
	}
	p > input[type="checkbox"]:not(:checked) + label .ui:before {
		content: "no";
		left: 32px
	}
	p > input[type="checkbox"]:checked + label .ui:after {
		content: "yes";
		color: #ffffff;
	}
	p > input[type="checkbox"]:focus + label:before {
		border: 1px dashed #777;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: -1px;
	}