.error
{
	color: red;
	font-size: medium;
}

#drop > div {
  min-height: 200px;
  /* min-width: 150px; */
  width: 100%;
  border: 2px dashed cadetblue;
  padding: 0px;
  /* left: -2em; */
}
.upload-drop-zone > p {
  top: 30%;
  left: 40%;
  position: absolute;
}
.upload-drop-zone > input {
  top: 50%;
  left: 40%;
  position: absolute;
}