<template>
	<require from="css/error.css"></require>
	<div class="content-wrapper" css.bind="mainPageCSS">
		<section class="content-header">
			<h1>
				Group Manager
				<i class='fa fa-group'></i>
			</h1>
			
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
				<li class="active">Group Manager</li>
			</ol>
		</section>
		
		<section class="content">
			<router-view></router-view>
		</section>
		<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	</div>
</template>