<template>
	<require from="css/error.css"></require>

	<div class="direct-chat direct-chat-primary">
		<div class="btn-group pull-right" if.bind="accountType == 'admin'">
			<button type="button" click.delegate="addGroup()" class="btn btn-default btn-success">Add new group</button>
		</div>
		<br /><br />
		<div class="nav nav-tabs-custom">
			<div class="box-body tab-content" style="min-height: 50em">
		<div class="has-feedback">
			<input type="text" value.bind="filter" class="form-control input-sm" placeholder="Search Groups (WIP)">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
		<div class="box-body" style="min-height: 50em">
			<div class="direct-chat-msg">
				<div>
					<div class="">
						<div class="box-header with-border">
						</div>
						<div class="box-body no-padding">
							<div class="mailbox-controls">
								<div class="btn-group">
									<button click.delegate="selectAllPage()" class="btn btn-default checkbox-toggle" title="Select all on this page">
										<input type="checkbox" checked.bind="checkAllPage">
										</input>
									</button>
									<button class="btn btn-default" click.delegate="toggleAll()" title="Select every single user">
										Select All
									</button>

									<span style="padding-left: 10em">
									<button type="button" class="btn btn-default" click.delegate="deleteSeletedGroups()" title="Delete every record selected"><i class="fa fa-trash-o"></i></button>
									</span>
								</div>
								<div class="pull-right">
									${(currentPaginationPage * maxPaginationList) + 1}-${lastItem}/${groupList.length} &nbsp;
									<div class="btn-group">
										<button type="button" click.delegate="previousPageChunk()" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
										<button type="button" click.delegate="nextPageChunk()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
							<div class="table-responsive mailbox-messages">
								<table class="table table-hover table-striped">
									<tbody>
										<tr repeat.for="group of groupList" click.delegate="check($index)">
											<td>
												<input type="checkbox" checked.bind="group.checked" click.delegate="check($index)">
											</td>
											<td>
												<a click.delegate="showDetails(group)">${group.name}</a>
											</td>
											<!-- <td>
												<select class="input-sm pull-right" change.delegate="UpdateAccountType(account.details, account.id)" value.bind="account.details" >
													<option repeat.for="o of options" value.bind="o">${o}</option>
												</select>
											</td> -->
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="box-footer no-padding">
							<div class="mailbox-controls">
								<div class="btn-group">
									<button click.delegate="selectAllPage()" class="btn btn-default checkbox-toggle" title="Select all on this page">
										<input type="checkbox" checked.bind="checkAllPage">
										</input>
									</button>
									<button class="btn btn-default" click.delegate="toggleAll()" title="Select every single user">
										Select All
									</button>

									<span style="padding-left: 10em">
									<button type="button" class="btn btn-default" click.delegate="deleteSeletedGroups()" title="Delete every record selected"><i class="fa fa-trash-o"></i></button>
									</span>
								</div>
								<div class="pull-right">
									${(currentPaginationPage * maxPaginationList) + 1}-${lastItem}/${groupList.length} &nbsp;
									<div class="btn-group">
										<button type="button" click.delegate="previousPageChunk()" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
										<button type="button" click.delegate="nextPageChunk()" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>

</template>